@import '../../styles.scss';

.header {
    position: fixed;
    left: 0;
    top: 0;
    background-color: $secondary_color;
    height: 100px;
    width: 100vw;
    z-index: 100;

    &-logo {
        padding: 5px 30px;
        width: 150px;
        height: 75px;
        float: left;
    }

    &-title {
        font-size: 32px;
        color: #fff;
        padding: 30px;
        font-weight: 700;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        position: fixed;
        left: 0;
        top: 0;
        background-color: $secondary_color;
        height: 90px;
        width: 100vw;
        z-index: 100;
    
        &-logo {
            padding: 20px 11px 23px 15px;
            width: 80px;
            height: 47px;
            float: left;
        }
    
        &-title {
            font-size: 21px;
            font-weight: 700;
            color: #fff;
            padding: 33px;
            text-align: center;
        }
    }
}