@import '../../_stylings/variables.scss';
@import '../../_stylings/spinner.scss';

agm-map {
    display: block;
    margin: auto;
    height: 500px;
    max-width: 900px;
}

.description {
    font-size: 25px;
    color: $secondary-color;
    width: 75%;
    margin: 0 auto;
    text-align: justify;
    padding: 20px 0;
}

.container {
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    max-width: 1200px;
    height: 100%;
}

.buttons {

    .button-back {
        position: relative;
        font-weight: 100;
        padding: 1em 1.25em;
        text-align: center;
        width: 200px;
        border-radius: 5px;
        overflow: hidden;
        z-index: 0;
        cursor: pointer;
        background: $primary-color;
        text-decoration: none;
        color: white;
        font-weight: 700;
        display: block;
        margin: 10px auto;

        &:hover {
          background: darken($primary-color,2.5%);
        }
    }
}

.loading-message {
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .description {
        width: 100%;
    }
    
    .button-back {
        width: 100%;
    }
}