<div class="container">
  <div class="description">
    Here, you can see the route that this vehicle took.
    The car indicates the last position of the vehicle.
    The red marker indicates the origin point.
  </div>
  <div class="map" *ngIf="locations">
    <agm-map 
      [latitude]="locations[locations.length-1].lat"
      [zoom]="zoom"
      [longitude]="locations[locations.length-1].lng">
      <agm-marker
        [latitude]="locations[locations.length-1].lat"
        [longitude]="locations[locations.length-1].lng"
        iconAnchorX="5"
        iconAnchorY="5"
        [markerClickable]="true"
        iconUrl="../../assets/images/car.png">
      </agm-marker>
      <agm-polyline [strokeOpacity]="0.5">
        <agm-polyline-point  *ngFor="let location of locations" [latitude]="location.lat" [longitude]="location.lng">
        </agm-polyline-point>
      </agm-polyline>
      <agm-marker
        [latitude]="locations[0].lat"
        [longitude]="locations[0].lng"
        iconAnchorX="5"
        iconAnchorY="5">
      </agm-marker>
    </agm-map>
  </div>
  <div class="loading-message" *ngIf="loading">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
  <div class="buttons">
    <a [routerLink]="['/']" class="button-back">Back</a>
  </div>
</div>
  