agm-map {
    display: block;
    margin: auto;
    height: 500px;
    max-width: 900px;
}

.container {
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    max-width: 1200px;
    height: 80vh;
}