@import '../../_stylings/variables.scss';
@import '../../_stylings/spinner.scss';

agm-map {
    display: block;
    margin: auto;
    height: 500px;
    max-width: 900px;
}

.description {
    font-size: 25px;
    color: $secondary-color;
    width: 75%;
    margin: 0 auto;
    text-align: justify;
    padding: 20px 0;
}

.container {
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    max-width: 1200px;
    height: 100%;
}

.loading-message {
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .description {
        width: 100%;
    }
    
}

.search-box {
    width: 75%;
    margin: 0 auto;

    label {
        padding: 3px;
        font-size: medium;
    }

    &-input {
        float: left;
        margin: 10px;
        border-radius: 6px;
        border-width: 1px;
        font-size: 20px;
    }
}


.vehicles-list {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    &-item {
        padding: 8px;
        margin: 5px;
        width: 22%;
        text-align: center;
    }
}

.vehicle-link {
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
    text-decoration: none;
    color: #000;
    display: block;
    margin: 0 auto;
    padding: 7px 1px;
    border-radius: 5px;

    &:hover {
      background: #ccc;
    }
}@media only screen and (max-width: 600px) {
    .description {
        width: 100%;
    }
    
}