@import '../../_stylings/variables.scss';
@import '../../_stylings/spinner.scss';

agm-map {
    display: block;
    margin: auto;
    height: 500px;
    max-width: 900px;
}

.description {
    font-size: 25px;
    color: $secondary-color;
    width: 75%;
    margin: 0 auto;
    text-align: justify;
    padding: 20px 0;
}

.container {
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    max-width: 1200px;
    height: 100%;
}

.loading-message {
    margin: 0 auto;
}